/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.days-one-regular {
  font-family: "Days One", serif;
  font-weight: 400;
  font-style: normal;
}

